*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
*::selection{
    color:white;
    background-color: black;;
}

html,body{
    height:100%;
    width:100%;
}

body{
    background-color: #F7F7F7;

}

#nav{
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav-part1{
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg{
    display: block;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links{
    padding: 10px;
}

#nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin:0 20px;
}

#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav-part2 #icons i{
    font-size: 18px;
    margin:0 20px;
    font-weight: 100;
}

#cursor{
    height: 150px;
    width: 150px;
    background-color: blanchedalmond;
    border-radius: 50%;
    position: fixed;
    /* transform: translate(-50%,-50%); */
    transform: translate(-50%,-50%) scale(0);
}

#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 2vw;
    padding-top: 18vh;
}

#page1 h1{
    font-size: 11.5vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 10vw;
    text-align: center;
    letter-spacing: -7px;
}

#video-container{
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 3vw 2vw;
    background-color: black;
    color: white;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
    /* transform: translate(-50%,-50%);     */
}

#page2{
    min-height:100vh;
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 1vw;
}

#page2 .elem{
    height: 100%;
    width: 31%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    /* position: absolute; */
}

#page3{
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;;
}

.child{
    height: 54vh;
    width: 38vw;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img{
    height:90%;
    width: 80%;

}

.child1 img{
  padding: 20%;
  margin: 50%;
  
}

.elem .dets{
    height: 60px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    background-color: palegoldenrod;
    z-index: 9;
    text-align: center;
    padding-top: 17px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.elem.dets.a{
    text-decoration: none
}

.elem .dets:hover{
    height: 200px;
}
.elem .plan-info.a{
    
    text-decoration: none
    
}

#plans{
    height: 100vh;
}

/* .footer{
    height: 250px;
    background-color: #333;
}

.log{
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
}

.log img{

    max-height: 200px;
    /* width: 40px; */
/* }
.fdets{

} */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #EEECEB;
} */
footer{
  /* height: 200px; */
  position: static;
  background: #333;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #333;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #333;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}

#nav #nav-part2 #links a img {
  max-width: 100%; /* Ensure the image doesn't exceed the width of its container */
  height: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Ensure the image is treated as a block element */
}



@media (max-width: 600px){

    
    
    #page1 h1{
        font-size: 15vw;
        line-height: 14vw;
        /* text-align: center; */
        letter-spacing: -2px;
    }

    #page1{
        min-height: 70vh;
        width: 100%;
        /* position: relative; */
        padding: 0 3vw;
        padding-top: 25vh;
    }
    #video-container{
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container #play{
        padding: 9.5vw 7.2vw;
        font-size: 4vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);    
    }

    #page2{
        min-height:100vh;
        width:100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5vw 3vw;
        flex-direction: column;
    }
    
    #page2 .elem{
        height: 100vh;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        margin-bottom: 3vw;
    }
    
    .elem .dets{
        height: 40px;
        border-radius: 50px;
        width: 70%;
        position: absolute;
        background-color: palegoldenrod;
        z-index: 9;
    }

    #page3{
        min-height: 120vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;;
    }
    
    .child{
        height: 54vh;
        width: 88vw;
        padding: 15vw;
        /* background-color: red; */
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .child img{
        height:100%;
    }
    
    .elem .dets{
        height: 60px;
        border-radius: 50px;
        width: 70%;
        position: absolute;
        background-color: palegoldenrod;
        z-index: 9;
    }

    .elem.dets.a{
        text-decoration: none;
        /* color : black; */
    }
    
    .elem .dets:hover{
        height: 200px;
    }

    #nav{
        /* height: 100px; */
        width: 100%;
        /* background-color: burlywood; */
        position: fixed;
        z-index: 99;
        padding: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    #nav-part1{
        height: 66px;
        overflow: hidden;
    }
    
    #nav-part1 svg{
        display: block;
        height: 65px;
        width: 80px;
    }

    #twogoodlogo{
        height: 40px;
    }
    
    #nav #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    #links{
        padding: 10px;
        display: none;
    }
    
    #nav-part2 #links a{
        text-transform: uppercase;
        text-decoration: none;
        color: #333;
        font-weight: 500;
        font-size: 14px;
        margin:0 20px;
    }
    
    #icons{
        padding: 10px;
        border-radius: 50px;
        background-color: #F7F7F7;
    }
    
    #nav-part2 #icons i{
        font-size: 18px;
        margin:0 20px;
        font-weight: 100;
    }


    footer .content .link-boxes{
        flex-wrap: wrap;
      }
      footer .content .link-boxes .input-box{
        width: 40%;
        margin-top: 10px;
      }
      footer{
        position: relative;
      }
      .content .top .logo-details{
        font-size: 26px;
      }
      .content .top .media-icons a{
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
      }
      .fab fa-facebook-f img {
        position: relative;
        height: 10%;
        width: 10%;

      }
      
      footer .content .link-boxes .box{
        width: calc(100% / 3 - 10px);
      }
      footer .content .link-boxes .input-box{
        width: 60%;
      }
      .bottom-details .bottom_text span,
      .bottom-details .bottom_text a{
        font-size: 12px;
      }
      footer::before{
        top: 145px;
      }
      footer .content .top{
        flex-direction: column;
      }
      .content .top .media-icons{
        margin-top: 16px;
      }
      footer .content .link-boxes .box{
        width: calc(100% / 2 - 10px);
      }
      footer .content .link-boxes .input-box{
        width: 100%;
      }
      
}
